[submodule "sources/linux-mvista-2.6"]
	path = sources/linux-mvista-2.6
	url = https://github.com/MontaVista-OpenSourceTechnology/linux-mvista-2.6
	branch = mvl-4.19/msd.cgx
[submodule "sources/yocto-kernel-cache"]
	path = sources/yocto-kernel-cache
	url = https://github.com/MontaVista-OpenSourceTechnology/yocto-kernel-cache
	branch = yocto-4.19
[submodule "layers/poky"]
	path = layers/poky
	url = https://github.com/MontaVista-OpenSourceTechnology/poky
	branch = thud
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-openembedded
	branch = thud
[submodule "layers/meta-clang"]
	path = layers/meta-clang
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-clang
	branch = thud
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-virtualization
	branch = thud
[submodule "layers/meta-qa"]
	path = layers/meta-qa
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-qa
	branch = thud
[submodule "layers/meta-montavista-cgx"]
	path = layers/meta-montavista-cgx
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-montavista-cgx
	branch = thud
[submodule "layers/meta-selinux"]
	path = layers/meta-selinux
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-selinux
	branch = thud
[submodule "layers/meta-security"]
	path = layers/meta-security
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-security
	branch = thud
[submodule "layers/meta-cgl"]
	path = layers/meta-cgl
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-cgl
	branch = thud
[submodule "layers/meta-cloud-services"]
	path = layers/meta-cloud-services
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-cloud-services
	branch = thud
[submodule "layers/meta-montavista-cgl"]
	path = layers/meta-montavista-cgl
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-montavista-cgl
	branch = thud
[submodule "layers/meta-montavista-security"]
	path = layers/meta-montavista-security
	url = git://gitcgx.mvista.com/cgx/CGX/mvl-meta/meta-montavista-security
	branch = thud
[submodule "layers/meta-montavista-virt"]
	path = layers/meta-montavista-virt
	url = git://gitcgx.mvista.com/cgx/CGX/mvl-meta/meta-montavista-virt.git
	branch = thud
[submodule "layers/meta-dpdk"]
	path = layers/meta-dpdk
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-dpdk
	branch = thud
[submodule "layers/meta-montavista-dataplane"]
	path = layers/meta-montavista-dataplane
	url = git://gitcgx.mvista.com/cgx/CGX/mvl-meta/meta-montavista-dataplane.git
	branch = thud
[submodule "layers/meta-java"]
	path = layers/meta-java
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-java
	branch = thud
[submodule "layers/meta-montavista-iot"]
	path = layers/meta-montavista-iot
	url = git://gitcgx.mvista.com/cgx/CGX/mvl-meta/meta-montavista-iot
	branch = thud
[submodule "layers/meta-qt5"]
	path = layers/meta-qt5
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-qt5
	branch = thud
[submodule "layers/meta-montavista-graphics"]
	path = layers/meta-montavista-graphics
	url = git://gitcgx.mvista.com/cgx/CGX/mvl-meta/meta-montavista-graphics
	branch = thud
[submodule "layers/meta-montavista-x86-generic-4.19"]
	path = layers/meta-montavista-x86-generic-4.19
	url = https://github.com/MontaVista-OpenSourceTechnology/meta-montavista-x86-generic-4.19
	branch = thud
